<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= group.groupname %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="shortcut icon" href="/static/favicon.svg" type="image/svg+xml">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/groupdetails.css">
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: 'Inter', sans-serif;
        }

        .container {
            display: flex;
            height: 100%;
            align-items: center; /* Center children vertically */
            justify-content: center; /* Center children horizontally */
        }

        .sidebar {
            flex: 0 0 auto;
            background-color: #ffffff;
            position: fixed;
        }

        .center-content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            /* flex-direction: column; */
            align-items: center;
            padding: 20px;
        }

        .header {
            font-size: 36px;
            font-weight: bold;
            color: #272727;
            margin-bottom: 40px;
        }

        .file-upload {
            display: none;
        }

        .circle {
            border-radius: 1000px !important;
            overflow: hidden;
            width: 128px;
            height: 128px;
            border: 8px solid rgba(255, 255, 255, 0.7);
            position: relative;
            /* Changed position to relative */
            margin: 0 auto;
            /* Added margin to center horizontally */
            margin-top: 20px;
            /* Adjusted top margin to create space below headline */
        }

        .profile-pic {
            max-width: 100%;
            height: auto;
        }

        .p-image {
            position: relative;
            /* Changed position to relative */
            margin-top: -40px;
            /* Adjusted top margin to align with profile picture */
            margin-left: 80px;
            /* Adjusted left margin to align with profile picture */
            color: #666666;
            transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
        }

        .p-image:hover {
            transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
        }

        .upload-button {
            font-size: 1.2em;
        }

        .upload-button:hover {
            transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
            color: #999;
        }

        /* Added style for input boxes */
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            margin-top: 20px;
            /* Added margin-top to create space between input boxes */
            width: calc(100% - 20px);
            /* Adjusted width to fill the container */
            box-sizing: border-box;
            /* Added box-sizing to include padding and border in width calculation */
            padding: 10px;
            /* Added padding for better appearance */
            margin-bottom: 10px;
            /* Added margin-bottom to separate input boxes */
        }

        /* Adjusted the form container */
        .form-container {
            margin-top: 30px;
            /* Increased margin-top */
            height: auto;
            /* Changed height to auto */
            padding-bottom: 20px;
            /* Added padding to bottom to separate form from other elements */
        }

        h1 {
            margin-top: 10px;
            /* Increased margin-top */
        }

        
    </style>
</head>

<body class="collapsed">
    <div class="container">
        <nav class="sidebar">
            <div class="sidebar-top">
                <a href="/profile" class="logo__wrapper">
                    <img src="/static/images/logo.png" alt="Logo" class="logo">
                    <img src="/static/images/logo-small.png" alt="Logo" class="logo-small">
                </a>
            </div>
            <div class="sidebar-links">
                <ul>
                    <li>

                        <a href="/profile" title="" class="tooltip">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                                <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                                <path d="M10 12h4v4h-4z"></path>
                            </svg>
                            <span class="link hide">Home</span>
                            <span class="tooltip__content">Home</span>
                        </a>
                    </li>




                    <li>
                        <a href="/MyGroups" title="" class="tooltip active">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                                <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                <path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path>
                            </svg>
                            <span class="link hide">My Groups</span>
                            <span class="tooltip__content">My Groups</span>
                        </a>
                    </li>


                    <li>
                        <a href="/addGroup" title="" class="tooltip">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path
                                    d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z">
                                </path>
                            </svg>
                            <span class="link hide">Create Group</span>
                            <span class="tooltip__content">Create Group</span>
                        </a>
                    </li>



                    <li>
                        <a href="#" title="" class="tooltip" onclick="submitForm('/requests')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M8 16l2 -6l6 -2l-2 6l-6 2"></path>
                                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            </svg>
                            <span class="link hide">Pending Requests</span>
                            <span class="tooltip__content">Pending Requests</span>
                        </a>
                        <form id="myForm" action="/requests" method="post" style="display: none;">
                            <button type="submit">Pending Requests</button>
                        </form>
                    </li>



                    <li>
                        <a href="#" title="" class="tooltip" onclick="submitForm('/logout')">
                            <div style="position: relative;">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout"
                                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path
                                        d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2">
                                    </path>
                                    <path d="M9 12h12l-3 -3"></path>
                                    <path d="M18 15l3 -3"></path>
                                </svg>
                                <div class="notification"></div>
                            </div>
                            <span class="link hide">Logout</span>
                            <span class="tooltip__content">Logout</span>
                        </a>
                        <form id="myForm" action="/logout" method="post" style="display: none;">
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>


            <div class="sidebar-bottom hide">
                <img src="/static/images/diamond.png" alt="Diamond">
                <p>
                    Welcome to Splitwise!
                </p>
                <button>
                    Smart Sharing!
                </button>
            </div>
            <div class="expand-btn" style="display: hidden;">
                <img src="/static/images/right-collapse.svg" alt="Left Collapse">
                <span class="hide">
                    Collapse
                </span>
            </div>
            <!-- Other sidebar content if needed -->
        </nav>
        <div class="center-content">
            <body>
                <div class="table-widget">
                    <div class="group-info">
                        <img src="<%= group.group_pic %>" alt="Group Picture" class="group-pic">
                        <span class="group-name"><%= group.groupname %></span>
                        <form action="/add_expense" method="post" style="display: block; margin: auto;"> <!-- Form takes full width and centers its content -->
                            <input type="hidden" name="groupid" value="<%= group.groupid %>">
                            <button type="submit" style="padding: 15px 25px; border-radius: 2px; background-color: #5a58e9; color: white; border: none; cursor: pointer;">Create New Expense</button> <!-- Button styles -->
                        </form>
                    </div>
                    <table>
                        <thead>
        
                            <tr class="admin-info">
                                <th colspan="3">
                                    
                                    <!-- Admin Name: <%= user.Name %> | Admin EmailId: <%= user.Email %> -->
                                    <div class="team-member-profile">
                                        Group Admin : 
                                        <img src="<%= user.profile_pic %>" alt="bruh">
                                        <span class="profile-info">
                                            <span class="profile-info__name">
                                                <%= user.Name %>
                                            </span>
                                        </span>
                                    </div>
                                </th>
                            </tr>
                            <tr>   
                            </tr>
                        </thead>
                        <caption>
                            GroupMembers
                            <span class="table-row-count"></span>
                        </caption> 
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email address</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="team-member-rows">
                            <!-- Rows are generated -->
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    <ul class="pagination">
                                        <!-- Generated pages -->
                                    </ul>
                                </td>
                                <tr>
                                    <td colspan="3" class="table-actions" ">
                                        <% if(isadmin==1){ %>
                                            <% if(users.length>0){ %>
                                        <form action="/add_member" method="post" id="addMemberForm">
                                            <button type="button" id="showDropdownBtn">Invite Member</button>
                                            <div id="dropdownContainer" style="display: none;">
                                                <label for="userId">Select Member:</label>
                                                <select id="userId" name="userId">
                                                    <% users.forEach(users => { %>
                                                        <option value="<%= users.userId %>"><%= users.Name %></option>
                                                    <% }); %>
                                                </select>
                                                <input type="hidden" name="groupid" value="<%= group.groupid %>">
                                                <button type="submit">Invite</button>
                                            </div>
                                        </form>
                                    
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                            <% } %>
                                            <% if(friends.length>0){ %>
                                                <form action="/add_friend" method="post" id="addMemberForm">
                                                    <!-- <input type="hidden" name="friends" value="<%= friends.length %>"> -->
                                                    <button type="button" id="showDropdownBtn2">Add Friend</button>
                                                    <div id="dropdownContainer2" style="display: none;">
                                                        <label for="Friendid">Select Friend:</label>
                                                        <select id="Friendid" name="Friendid">
                                                            <% friends.forEach(friend => { %>
                                                                <option value="<%= friend.userId %>"><%= friend.Name %></option>
                                                            <% }); %>
                                                        </select>
                                                        <input type="hidden" name="groupid" value="<%= group.groupid %>">
                                                        <button type="submit">Add</button>
                                                    </div>
                                                </form>
                                                    <% } %>
                                                <% } %>
                                    </td>
                                </td>
                                </tr>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <script>

        const teamMembers = <%- JSON.stringify(members) %>;
        let tableRowCount = document.getElementsByClassName('table-row-count');
        tableRowCount[0].innerHTML = `(${teamMembers.length}) Members`;
        console.log(tableRowCount)
        
        let tableBody = document.getElementById('team-member-rows');
        
        const itemsOnPage = 100;
        
        const numberOfPages = Math.ceil(teamMembers.length / itemsOnPage);
        
        const start = (new URLSearchParams(window.location.search)).get('page') || 1;
        
        const mappedRecords = teamMembers
        .filter((teamMember, i) => (((start - 1) * itemsOnPage) < i + 1) && (i+1 <= start * itemsOnPage))
        .map(
          (teamMember) => {
            return `<tr>
                <td class="team-member-profile">
                    <img src="${teamMember.profile_pic}" alt="${teamMember.Name}">
                    <span class="profile-info">
                        <span class="profile-info__name">
                            ${teamMember.Name}
                        </span>
                    </span>
                </td>
                <td>${teamMember.Email}</td>
                <td>
                    <span class="tags">
                        <% if(isadmin==1){ %>
                        <button class="remove-user-btn"type="button">Remove User</button>
                    <% } %>
                    </span>        
                </td>
            </tr>`;
        });
        
        tableBody.innerHTML = mappedRecords.join('');
                </script>
                <script src="/static/js/groupdetails.js"></script>
            </body>
        
            <script>
                // JavaScript to toggle visibility of dropdown when Add Member button is clicked
                document.getElementById('showDropdownBtn').addEventListener('click', function() {
                    document.getElementById('dropdownContainer').style.display = 'block';
                });
                document.getElementById('showDropdownBtn2').addEventListener('click', function() {
                    document.getElementById('dropdownContainer2').style.display = 'block';
                    console.log(89392);
                    console.log(friends);
                     console.log(user);
                });
            </script>
            </body>
        </div>
    </div>
    <!-- Include your existing JavaScript file -->
    <script src="/static/js/groupdetails.js"></script>
    <!-- Include the new jQuery script for profile picture upload functionality -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var readURL = function (input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('.profile-pic').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $(".file-upload").on('change', function () {
                readURL(this);
            });
            $(".upload-button").on('click', function () {
                $(".file-upload").click();
            });
        });
    </script>
</body>

</html>








