<!DOCTYPE html>
<html>
    <head>
        <title>Payments</title>
    </head>
    <body>
        <% if(joinedData.length==0){ %>
            <h1>No Payments to be made</h1>
        <% } %>
        <% for(let c of joinedData){ %>
            <% if(c.totalAmount>0){ %>
            <div>
                <div>Name:<%= c.Name %></div>
                <img src="<%= c.profile_pic %>">
                <div>Amount: <%= c.totalAmount %></div>
                <div class="description-container">
                    <% c.descriptions.forEach(function(description) { %>
                      <div class="description-item"><%= description %></div>
                    <% }); %>
                </div>
                <form action="/pay" method="post">
                    <input type="hidden" name="receiverid" value="<%= c.userId %>">
                    <input type="hidden" name="Amount" value="<%= c.totalAmount %>">
                    <button type="submit">Pay</button>
                </form>  
            </div>
            <% } %>
        <% } %>
    </body>
</html>